.container {
  margin: 73px 0 3px;
  padding: 77px 0 70px;
  text-align: center;
  width: 1420px;
}

.heading {
  text-align: center;
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 58px;
  color: var(--text-primary);
  margin: 0 0 40px;
}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}
