.fluid {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
}

.background {
  padding: 120px 0;
  width: 1720px;
  background: #fffbf4;
  display: flex;
  justify-content: center;
  margin-top: 97px;
}

.container {
  text-align: center;
  width: 1420px;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  margin: 70px 0 60px;
}

.designElement {
  transform: rotate(13.54deg);
  position: absolute;
  right: -10%;
  top: 25%;
}
