@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:wght@400;500&display=swap');

:root {
  --primary: #ffa502;
  --secondary: #111116;
  --white: #ffffff;
  --text-primary: #111116;
  --text-secondary: #6f6f76;
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Rubik', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--secondary-font);
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
