.container {
  position: relative;
  margin-top: 77px;
  padding: 47px 0 53px;
  width: 1420px;
  display: grid;
  grid-template-columns: 50% 45%;
  gap: 5%;
  align-items: center;
}

.designElement {
  position: absolute;
  transform: rotate(-15deg);
  left: -11%;
  bottom: 14%;
  transform: translate(-7%, 16%);
}
